@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Cairo', sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}

@media print {
  @page {
    size: A4;
    margin: 1in;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }
  /* Make the printable container and everything inside it visible */
  #printable-operation-details, #printable-operation-details * {
    visibility: visible;
  }
  /* Position the printable content on the page */
  #printable-operation-details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}